.button{
    -fx-text-fill: white;
    -fx-width:50;
    -fx-height:20;
    -fx-background-color:lightgreen;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
    -fx-position:relative;
    -fx-transition:all 0.25s ease; 
}
.start: hover{
    -fx-background-color:darkgreen;
}